<!-- Welcome page-->
<!doctype html>
<html>
<head>
 	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
	
	 </head>
<body>
 <div class = 'container'>


 	<div class = 'centered'>
  		<b><h1 id="home1">Welcome to  DearDiary</h1></b>
  		
  		<!--<button class="button">Sign Up</button>-->
                <a href="/signup" class="button">SIGNUP</a>
                <a href="/login" class="button">LOGIN</a>
  		
  	</div>
  </div>
 </body>
</html>
 
 

